<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened *ngIf="isLogin">
      
      <p>mettre un logo</p>
      
      <mat-list role="list">
        <mat-list-item role="listitem" (click)="goHome()">
          <mat-icon>home</mat-icon>
          <a>Accueil</a>
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/categories">
          <mat-icon>list</mat-icon>
          <a>Categories</a>
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="">
          <mat-icon>shopping_cart</mat-icon>
          <a>Produits</a>
        </mat-list-item>
      </mat-list>
      
    </mat-drawer>

    <mat-drawer mode="side" opened *ngIf="!isLogin">
      <p>mettre un logo</p>
      <mat-list role="list">
        <mat-list-item role="listitem" routerLink="/inscription">
          <mat-icon>lock</mat-icon>
          <a>Inscription</a>
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/connexion">
          <mat-icon>lock_open</mat-icon>
          <a>Connexion</a>
        </mat-list-item>
      </mat-list>
    </mat-drawer>

    <mat-drawer-content>
      <div *ngIf="isLogin">
        <app-toolbar></app-toolbar>
      </div>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  